
.form-signup {
  width: 330px;
  padding: 150px;
}

.form-check {
  width: 280;
}

.form-signup  input[type="text"] {
  margin-bottom: 5px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signup input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

input[type="text"] {
  width: 280px;
  height: 40px;
}

input[type="password"] {
  width: 280px;
  height: 40px;
}